name: Build and Deploy Code

on:
  push:
    branches: 
      - "main"
jobs:
  job1:
    environment:
      name: testing
    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: ${{secrets.DB_NAME}}
      DB_USER: postgres
      DB_PASS: ${{secrets.DB_PASS}}
      JWT_KEY: ${{secrets.JWT_KEY}}
      JWT_ALG: ${{secrets.JWT_ALG}}
      JWT_EXP: 60
    runs-on: ubuntu-latest
    steps:
      - name: pullin git repo
        uses: actions/checkout@v2
      - name: install python version 3.0
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: upgrade pip
        run: python -m pip install --upgrade pip
      - name: install requirements
        run: pip install -r requirements.txt
      - name: run our tests
        run: |
          pip install pytest
          pytest